.app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.userList {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.userName {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.userNameActive {
  background-color: greenyellow;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.sorted {
  display: flex;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
}

.activityUser {
  cursor: pointer;
}

@media (min-width: 780px) {
  .filterList {
    display: flex;
}
}